:root {
  /* Font family */
  --ff-headings: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
  
  /* Font colors */
  --clr-body-dark: hsl(192, 100%, 9%);
  --clr-body-dimmed-light: hsl(206, 5%, 73%);
  --clr-body-light: hsl(207, 100%, 98%);
  --clr-body-very-light: hsl(0, 0%, 100%);
  --clr-error: hsl(0, 100%, 63%);

  /* Backgrounds */
  --clr-primary: hsl(322, 100%, 66%);
  --clr-primary-hover: hsl(321, 100%, 78%);

}

* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  width: 100%;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-body);
  color: var(--clr-body-dark);
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
}

h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  line-height: 1.5;
  margin-top: 10rem;
}

h2 {
  font-size: clamp(1.8rem, 3vw, 3.2rem);
  margin-top: 8rem;
}

h3 {
  font-size: clamp(6rem, 7vw, 8rem);
  margin: 0.25rem 0 0.75rem;
  font-family: var(--ff-body);
}

h4 {
  font-size: clamp(2rem, 3vw, 2.2rem);
  text-transform: uppercase;
  margin: 2rem 0  1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

header img {
  width: clamp(12rem, 18vw, 20rem);
}

section {
  text-align: center;
  padding: 2.5rem;
}

section img {
  width: 75%;
  margin: 0 auto;
}

p {
  font-size: clamp(1.4rem, 3vw, 1.6rem);
}

section p {
  line-height: 1.4;
  width: 85%;
  margin: 0 auto;
}

footer p {
  line-height: 1.8;
  font-weight: 600;
}

button {
  border-radius: 100vmax;
  border: 1px solid var(--clr-primary);
  padding: 1em 4em;
  font-weight: 600;
  font-family: var(--ff-body);
  cursor: pointer;
}

span {
  font-size: clamp(1.35rem, 3vw, 1.5rem);
  color: var(--clr-body-dimmed-light);
  font-weight: 600;
}

footer {
  background: hsl(192, 100%, 9%);
  color: var(--clr-body-very-light);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
}

input {
  flex-basis: 100%;
  border-radius: 5px;
  padding: 1.25rem 1rem;
  border: none;
  margin-top: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3rem;
}

ul img {
  width: 1.75rem;
}



.error {
  color: var(--clr-error);
  font-size: 1.1rem;
}

.col {
  display: flex;
  flex-direction: column;  
}

.button-primary {
  background: var(--clr-primary);
  color: var(--clr-body-light);
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.button-secondary {
  background: none;
  color: var(--clr-primary);
  font-size: clamp(1rem, 1vw, 1.3rem);
  padding: 1em 2.5em;
}

.button-form {
  border-radius: 5px;
}

.hero {
  padding: 0 2.5rem;
}

.hero-text {
  margin: 2rem auto 4rem auto;
  
}

.hero-image {
  margin: 10rem auto 8rem;
  width: 100%;
}

.section-2,
.section-4,
.section-6 {
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2 {
  background-image: url('../images/bg-section-top-mobile-1.svg');
  background-position: bottom center;
  row-gap: 8rem;
  padding-bottom: 12rem;
}

.section-2 img {
  width: 2.5rem;
  margin: 0;
}


.section-3,
.section-5 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f6fbff;
}

.section-4,
.section-6 {
  padding-top: 16rem;
}

.section-4 {
  background-image: url('../images/bg-section-bottom-mobile-1.svg'), url('../images/bg-section-top-mobile-2.svg');
  background-position: top center, bottom center;
  padding-bottom: 18rem;
}

.section-5 {
  padding-top: 0;
}

.section-6 {
  background-image: url('../images/bg-section-bottom-mobile-2.svg'), url('../images/bg-footer-top-mobile.svg');
  background-position: top center, bottom center;
  padding-bottom: 24rem;
  padding-top: 22rem;
}

.section-6 h2 {
  margin: 0 auto 4rem;
  font-size: clamp(2.2rem, 3vw, 5rem);
  line-height: 1.5;
}

.footer-logo {
  width: 24rem;
  margin-bottom: 1rem;
}

.contact li + li{
  margin-top: 2rem;
}

.contact img {
  margin-right: 1rem;
}

.social {
  display: flex;
  column-gap: 1.5rem;
}

@media screen and (min-width: 616px) {
  header {
    padding: 2.5rem 10rem;
  }

  section p {
    margin: 0;
  }

  footer {
    margin-top: -2px;
  }

  .hero {
    width: 80%;
    margin: 20rem auto 5rem;
  }

  .section-2 {
    flex-direction: row;
    justify-content: space-around;
    background-image: url('../images/bg-section-top-desktop-1.svg');
    padding-bottom: 32rem;
  }

  .section-3,
  .section-4,
  .section-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10rem;
  }

  .section-3,
  .section-5 {
    flex-direction: row-reverse;
    margin-top: -1px;
  }

  .section-4,
  .section-6 {
    padding: 30rem 10rem;
  }

  .section-4 {
    background-image: url('../images/bg-section-bottom-desktop-1.svg'), url('../images/bg-section-top-desktop-2.svg');
  }

  .section-6 {
    background-image: url('../images/bg-section-bottom-desktop-2.svg'), url('../images/bg-footer-top-desktop.svg');
    padding: 20rem 10rem;
  }
}

@media screen and (min-width: 986px) {
  header {
    padding: 5rem 10rem;
  }

  .hero-text {
    width: 45%;
  }

  .section-2 img {
    width: 3.5rem;
  }
  .section-6 {
    padding: 32rem 10rem;
  }
}