:root {
  /* Font family */
  --ff-headings: 'Poppins', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
  
  /* Font colors */
  --clr-body-dark: hsl(192, 100%, 9%);
  --clr-body-dimmed-light: hsl(206, 5%, 73%);
  --clr-body-light: hsl(207, 100%, 98%);
  --clr-body-very-light: hsl(0, 0%, 100%);
  --clr-error: hsl(0, 100%, 63%);
  --clr-social-hover: hsl(192, 99%, 49%);

  /* Backgrounds */
  --clr-primary: hsl(322, 100%, 66%);
  --clr-primary-hover: hsl(321, 100%, 78%);

}
/*************************************************************************/
/************************** GLOBAL SELECTORS *****************************/
/************************************************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-body);
  color: var(--clr-body-dark);
}

img {
  display: inline-block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
}

h1 {
  font-size: clamp(2.5rem, 2.5vw, 5rem);
  line-height: 1.5;
  margin-top: 10rem;
}

h2 {
  font-size: clamp(1.8rem, 3vw, 40rem);
  margin-top: 8rem;
}

h3 {
  font-size: clamp(6rem, 7vw, 8rem);
  margin: 0.25rem 0 0.75rem;
  font-family: var(--ff-body);
}

h4 {
  font-size: clamp(2rem, 3vw, 2.4rem);
  text-transform: uppercase;
  margin: 2rem 0  1rem;
}

section {
  text-align: center;
  padding: 2.5rem;
}

section img {
  width: 75%;
  margin: 0 auto;
}

section p {
  line-height: 1.4;
  width: 85%;
  max-width: 650px; 
  margin: 0 auto;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
}

button {
  border-radius: 100vmax;
  border: 1px solid var(--clr-primary);
  padding: 1em 4em;
  font-weight: 600;
  font-family: var(--ff-body);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:hover {
  border-color: var(--clr-primary-hover);
}

button:active {
  transform: translateY(1px);
}

span {
  font-size: clamp(1.35rem, 0.85vw, 1.8rem);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3rem;
}

ul img {
  width: 1.75rem;
}
/*************************************************************************/
/**************************** HELPER CLASSES *****************************/
/************************************************************************/
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-primary {
  background: var(--clr-primary);
  color: var(--clr-body-light);
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.1);
}

.button-primary:hover {
  background: var(--clr-primary-hover);
}

.button-secondary {
  background: none;
  color: var(--clr-primary);
  font-size: clamp(1rem, 1vw, 1.5rem);
  padding: 1em 2.5em;
}

.button-secondary:hover {
  background: var(--clr-primary-hover);
  color: var(--clr-body-very-light);
}

.button-form {
  border-radius: 5px;
  padding: 1em 2.5em;
}
/*************************************************************************/
/******************************** HEADER *********************************/
/************************************************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

header img {
  width: clamp(12rem, 18vw, 20rem);
}
/*************************************************************************/
/****************************** HERO SECTION *****************************/
/************************************************************************/
.hero {
  padding: 0 2.5rem;
}

.hero-text {
  margin: 2rem auto 4rem auto;
  font-size: clamp(1.4rem, 3vw, 1.8rem);
}

.hero-image {
  margin: 10rem auto 8rem;
  width: 100%;
}
/*************************************************************************/
/******************************* SECTION 2 *******************************/
/************************************************************************/
.section-2 span {
  color: var(--clr-body-dimmed-light);
}

.section-2,
.section-4,
.section-6 {
  background-repeat: no-repeat;
  background-size: 100%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-2 {
  background-image: url('../images/bg-section-top-mobile-1.svg');
  background-position: bottom center;
  row-gap: 8rem;
  padding-bottom: 12rem;
}

.section-2 img {
  width: 2.5rem;
  margin: 0;
}
/*************************************************************************/
/******************************* SECTION 3 *******************************/
/************************************************************************/
.section-3,
.section-5 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f6fbff;
}
/*************************************************************************/
/******************************* SECTION 4 *******************************/
/************************************************************************/
.section-4,
.section-6 {
  padding-top: 16rem;
}

.section-4 {
  background-image: url('../images/bg-section-bottom-mobile-1.svg'), url('../images/bg-section-top-mobile-2.svg');
  background-position: top center, bottom center;
  padding-bottom: 18rem;
}
/*************************************************************************/
/******************************* SECTION 5 *******************************/
/************************************************************************/
.section-5 {
  padding-top: 0;
}
/*************************************************************************/
/******************************* SECTION 6 *******************************/
/************************************************************************/
.section-6 {
  background-image: url('../images/bg-section-bottom-mobile-2.svg'), url('../images/bg-footer-top-mobile.svg');
  background-position: top center, bottom center;
  padding-bottom: 24rem;
  padding-top: 22rem;
}

.section-6 h2 {
  margin: 0 auto 4rem;
  font-size: clamp(2.2rem, 3vw, 5rem);
  line-height: 1.5;
}
/*************************************************************************/
/********************************* FOOTER ********************************/
/************************************************************************/
footer {
  background: hsl(192, 100%, 9%);
  color: var(--clr-body-very-light);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12rem;
}

footer p {
  line-height: 1.8;
  font-size: clamp(1.4rem, 3vw, 1.6rem);
  max-width: 524px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
}

input {
  flex-basis: 100%;
  border-radius: 5px;
  padding: 1.5em;
  border: none;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  border: 2px solid transparent;
  cursor: pointer;
}

input:invalid {
  border-color: var(--clr-error);
}

.error-message {
  color: var(--clr-error);
  font-size: clamp(1.1rem, 0.65vw, 1.3rem);
  visibility: hidden;
}

input:invalid + .error-message {
  visibility: visible;
}

.footer-logo {
  width: 24rem;
  margin-bottom: 1rem;
}

.contact li + li{
  margin-top: 2rem;
}

.contact img {
  margin-right: 1rem;
}

.social {
  display: flex;
  column-gap: 1.5rem;
}

.social a {
  font-size: clamp(2rem, 2vw, 3rem);
  color: var(--clr-body-very-light);
  transition: color 0.1s ease-in-out;
}

.social a:hover {
  color: var(--clr-social-hover);
}

/*************************************************************************/
/***************************** MEDIA QUERIES *****************************/
/************************************************************************/
@media screen and (min-width: 61.6em) {
  section p {
    margin: 0;
    width: 100%;
  }
  
  header {
    padding: 2.5rem 10rem;
  }

  .hero {
    width: 80%;
    margin: 20rem auto 5rem;
  }

  .section-2 {
    flex-direction: row;
    justify-content: space-evenly;
    background-image: url('../images/bg-section-top-desktop-1.svg');
    padding-bottom: 16rem;
  }

  .section-3 .col,
  .section-4 .col,
  .section-5 .col {
    width: 75%;
  }

  .section-3,
  .section-4,
  .section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-4 {
    background-image: url('../images/bg-section-bottom-desktop-1.svg'), url('../images/bg-section-top-desktop-2.svg');
  }

  .section-6 {
    background-image: url('../images/bg-section-bottom-desktop-2.svg'), url('../images/bg-footer-top-desktop.svg');
    padding: 20rem 10rem;
  }

  footer {
    padding: 10rem 5rem 8rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  form {
    position: relative;
    margin-top: 2rem;
  }

  input {
    margin: 0;
  }

  small {
    position: absolute;
    top: -2rem;
    left: 0;
  }

  footer .col {
    width: 40%;
  }

  .button-form {
    justify-self: end;
  }
}

@media screen and (min-width: 98.6em) {
  h2 {
    margin-top: 0;
  }

  h4 {
    margin-top: 0;
  }

  section img {
    width: 100%;
  }

  header {
    padding: 5rem 10rem;
  }

  .hero-text {
    width: 45%;
  }

  .section-2 img {
    width: 3.5rem;
  }
  
  .section-3,
  .section-4,
  .section-5 {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 10rem;
  }

  .section-3,
  .section-5 {
    flex-direction: row-reverse;
  }

  .section-3 .col,
  .section-4 .col,
  .section-5 .col {
    width: 45%;
  }

  .section-4,
  .section-6 {
    padding: 30rem 10rem;
  }

  .section-6 {
    padding: 32rem 10rem;
  }


  footer {
    padding: 10rem 10rem 8rem;
  }

  form {
    position: relative;
    flex-wrap: nowrap;
    gap: 3.5rem;
    margin-top: 2rem;
  }

  input {
    margin: 0;
  }

  small {
    bottom: -2rem;
    top: auto;
  }

  .social {
    margin-top: 6rem;
    column-gap: 2.25rem;
  }
}

@media screen and (min-width: 140em) {
  .section-2 {
    padding-bottom: 25rem;
  }
}

@media screen and (min-width: 180em) {
  .section-2 {
    padding-bottom: 30rem;
  }

  .section-6 {
    padding-bottom: 40rem;
  }
}