:root {
  /* Colors */
  --clr-primary-100: hsl(238, 22%, 44%);
  --clr-primary-200: hsl(243, 87%, 12%);

  --clr-accent-100: hsl(221, 100%, 71%);
  --clr-accent-200: hsl(224, 93%, 58%);

  --clr-accent2-100: hsl(177, 37%, 79%);
  --clr-accent2-200: hsl(170, 45%, 43%);

  --clr-neutral-100: hsl(240,75%,98.4%);
  --clr-neutral-200: hsl(0, 0%, 75%);

  --clr-light: hsl(0, 0%, 100%);

  --clr-error: hsl(343, 37%, 62%);
  /* Fonts */
  --ff-heading: 'Raleway', sans-serif;
  --ff-body: 'Open Sans', sans-serif;
}


/**************************************
 * Global Styling
 **************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  color: var(--clr-primary-200);
  line-height: 1.5;
}

section {
  text-align: center;
}

section,
footer {
  padding-block: 4rem;
}

cite {
  font-style: normal;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

li::after {
  content: "\200B"; /* add zero-width space to return list semantics for screen readers */
}

img {
  max-width: 100%;
  display: block;
}


/**************************************
 * Containers
 **************************************/
 .container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container--row {
  flex-direction: row;
}

.image-container {
  max-width: 600px;
}

.image-container--small {
  flex: 0.45;
}


/**************************************
 * Utility Classes
 **************************************/
.left-align {
  text-align: left;
}

.illustration {
  width: 100%;
}

.margin-top-500 {
  margin-top: 5rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.align-start {
  align-items: flex-start;
  padding-inline: 1rem;
}


/**************************************
 * Typography
 **************************************/
.text-block {
  font-size: clamp(0.85rem, 3vw, 1rem);
  max-width: 650px;
}

.text-block + .text-block {
  margin-top: 1.25rem;
}

.text-block--thin {
  width: 85%;
  margin-inline: auto;
  font-size: clamp(0.85rem, 3vw, 1.1rem);
}

.hero__heading,
.section-heading {
  font-family: var(--ff-heading);
  font-size: clamp(1rem, 3vw, 2.5rem);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.section-heading--small {
  font-size: clamp(1.15rem, 3vw, 2rem);
  margin-bottom: 1rem;
}

.hero__heading {
  font-size: clamp(1.5rem, 3vw, 2.7rem);
}


/**************************************
 * Forms
 **************************************/
.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
 }

.form--small {
  margin-top: 1.5rem;
  width: 75%;
  max-width: 480px;
}

.form__group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__input:invalid {
  border: 1px solid var(--clr-error);
}

.form__input:invalid + .error-message {
  display: block;
}

.error-message {
  text-align: left;
  font-size: 0.75rem;
  color: var(--clr-error);
  bottom: -1.5rem;
  position: absolute;
  display: none;
}

.form--small .error-message {
  color: var(--clr-light);
  bottom: -0.35rem;
  position: static;
  margin-bottom: -0.5rem;
}

.form__input,
.form__button {
  border-radius: 0.2rem;
  padding-block: clamp(0.8rem, 3vw, 1rem);
  padding-inline: 1.25rem;
}

.form__input {
  border: 1px solid var(--clr-primary-100);
  font-size: 0.8rem;
  font-family: var(--ff-heading);
}

.form__input::placeholder {
  opacity: 0.2;
}

.form__button {
  margin-top: 1rem;
  border: 1px solid var(--clr-accent-200);
  font-size: 0.8rem;
  background: var(--clr-accent-200);
  color: var(--clr-light);
  font-weight: 700;
  font-family: var(--ff-heading);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.form__button:hover {
  background: var(--clr-accent-100);
  border-color: var(--clr-accent-100);
}

.form__button:active {
  transform: translateY(1px);
}

.form__input--thin,
.form__button--thin {
  padding-block: 0.5rem;
  padding-inline: clamp(0.5rem, 5vw, 2rem);
  font-size: 0.7rem;
}

.form__input--thin {
  margin-top: 0.1rem;
}

.form__input--thin::placeholder {
  opacity: 0.8;
}

.form__button--thin {
  margin-top: 0.5rem;
  font-size: clamp(0.8rem, 3vw, 0.9rem);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}


/**************************************
 * Header
 **************************************/
.header {
  padding-block: 1.5rem;
}

.header__logo {
  width: clamp(4.6rem, 14vw, 10rem);
}

.nav__list {
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.nav__item + .nav__item {
  margin-left: clamp(1.3em, 5vw, 4em);
}

.header__link:hover {
  border-bottom: 1px solid var(--clr-primary-200);
}

/**************************************
 * Hero
 **************************************/
.hero {
  padding-bottom: clamp(4rem, 12vw, 8rem);
}

.hero__heading,
.hero__text {
  max-width: 650px;
}

.hero__text {
  font-size: clamp(0.9rem, 1.4vw, 1.2rem);
}


/**************************************
 * Stay Productive
 **************************************/
.stay-productive {
  position: relative;
  margin-top: 3.7rem;
  padding-bottom: 5rem;
  background: var(--clr-neutral-100);
}

.stay-productive::after {
  content: '';
  background-image: url('/images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  height: 10rem;
  width: 100%;
  position: absolute;
  top: -9rem;
  left: 0;
}

.highlighted-link {
  width: max-content;
  margin: 2.2rem auto 0 auto;
  padding-bottom: 0.25rem;
  color: var(--clr-accent2-200);
  font-size: clamp(0.8rem, 3vw, 1rem);
  border-bottom: 1px solid var(--clr-accent2-200);
}

.highlighted-link:hover {
  opacity: 0.7;
}

.arrow-icon {
  margin-left: 0.4em;
}

.testimonial {
  max-width: 650px;
  box-sizing: border-box;
  margin: 2.5rem auto 0 auto;
  background: var(--clr-light);
  padding: 1.2rem 1rem 1.2rem 1.7rem;
  width: 88%;
  max-width: 350px;
  border-radius: 0.3em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}

.testimonial__text {
  font-size: clamp(0.67rem, 3vw, 1rem);
  margin-top: 0.6rem;
}

.testimonial__footer {
  padding: 0;
  display: flex;
}

.author-photo {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1rem;
}

.author {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.author__name {
  font-weight: bold;
  margin: 1rem 0 0 0.5rem;
  font-size: clamp(0.6rem, 2vw, 0.75rem);
}

.author__company {
  margin-left: 0.5rem;
  font-size: clamp(0.1rem, 2vw, 0.5rem);
}

/**************************************
 * Early Access
 **************************************/
.early-access {
  background: var(--clr-primary-100);
  color:hsl(0, 0%, 100%);
  padding-block: 1rem 4.5rem;
}

/**************************************
 * Main Footer
 **************************************/
.main-footer {
  background: var(--clr-primary-200);
  color: var(--clr-light);
}

.main-footer__logo {
  margin-top: 2.3rem;
}

.contact {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact__group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link,
.social-link {
  transition: all 0.1s ease-in-out;
}

.link:hover {
  color: var(--clr-accent-100);
  border-color: var(--clr-accent-100);
}

.sub-links {
  margin-top: 3.5rem;
  row-gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.sub-links + .sub-links {
  margin-top: 2.5rem;
}

.social-links {
  margin-top: clamp(2.5rem, 3vw, 3rem);
  width: 100%;
  column-gap: clamp(0.5rem, 3vw, 1rem);
  margin-top: 3rem;
}

.social-link {
  border-radius: 50%;
  border: 1px solid white;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 0.9rem;
}


/**************************************
 * Media Queries
 **************************************/
@media screen and (min-width: 40.625em) {
  .form--inline {
    flex-direction: row;
    align-items: center;
    width: 85%;
    gap: 1rem;
    margin-inline: auto;
  }

  .form__group--inline {
    flex: 0.67;
  }

  .form__button--inline {
    margin: 0;
    flex: 0.33;
    max-width: 200px;
  }

  .form__input,
  .form__button {
    padding-block: 1rem;
  }

  .form--small {
    margin-inline: auto;
  }
}

@media screen and (min-width: 62.5em) {
  section {
    text-align: left;
  }

  .layout-group {
    flex: 1;
  }

  .layout-group--big {
    flex: 0.55;
  }

  .container {
    width: 90%;
  }

  .hero .container {
    flex-direction: row-reverse;
  }

  .stay-productive .container {
    flex-direction: row-reverse;
  }

  .early-access .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero__heading {
    margin-top: -2.5rem;
    margin-bottom: 0.5rem;
  }

  .section-heading {
    margin-top: 1rem;
  }

  .section-heading--small {
    margin-top: 0;
  }

  .text-block {
    width: 75%;
  }
  
  .text-block--thin {
    margin-left: 0;
    flex: 0.3;
    width: 72%;
  }

  .form--inline {
    margin-left: 0;
  }

  .form--small {
    margin-top: 0;
    flex: 0.7;
  }

  .form__group--inline {
    flex: 0.67;
  }

  .form__button--inline {
    margin: 0;
    flex: 0.33;
  }

  .form__button--thin {
    width: max-content;
    margin-top: 1rem;
  }

  .header {
    padding-top: 4rem;
  }

  .hero {
    padding-bottom: 12rem;
  }

  .hero__text {
    width: 95%;
    line-height: 1.2;
  }

  .stay-productive {
    padding-bottom: 6.25rem;
  }

  .highlighted-link {
    margin: 1rem 0 0;
  }

  .stay-productive::after {
    background-image: url('/images/bg-curve-desktop.svg');
  }

  .testimonial {
    margin: 2.75rem 0 0;
    padding-block: 1.8rem;
    padding-inline: 2.5rem 0;
  }

  .quotes {
    width: 1rem;
  }

  .testimonial__text {
    font-size: clamp(0.67rem, 3vw, 0.85rem);
    margin-top: 0.6rem;
    width: 90%;
    line-height: 1.7;
  }

  .author-photo {
    width: 2rem;
    height: 2rem;
  }

  .early-access {
    padding-block: 5.25rem;
  }

  .main-footer {
    padding-block: 3rem;
  }

  .main-footer__logo {
    margin-top: -1rem;
  }

  .contact {
    margin-top: 1rem;
  }

  .sub-links {
    flex: 0.6;
    margin-top: 8rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sub-links + .sub-links {
    margin-top: 5.5rem;
    flex: 0.3;
  }
}